body
{
	margin: 0;
	font-family: arial,sans-serif;
}
.header
{
	width:100%;
	min-width: 950px;
	top :0;
	position:fixed;
	height: 59px;
	background-color: #F1F1F1;
	border-bottom:1px solid #E5E5E5;
}
.logo{
	width:5.5%;
	height:100%;
	min-width:96px;
	float: left;
}
#logo{
	height:34px;
	position: absolute;
	top:0px;
	bottom:0px;
	margin: auto;
}
.search{
	width:31%;
	height:100%;
	float:left;
	min-width:592px;
	overflow: hidden;
}
#searchbox{
	height:34px;
	position: absolute;
	top:0px;
	bottom:0px;
	margin: auto;
	width: 592px;
}
.mag_button{
	width:2%;
	height:100%;
	float:left;
	min-width:38px;
}
.outer{
	height:40px;
	position: absolute;
	top:0px;
	bottom:0px;
	margin: auto;
	width:40px;
	background-color: #4285F4;
	border-radius:2px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	border: none;
	float:left;
}
.outer:hover{
	background-color: #2962FF;
}
#mag{
	position: absolute;
	top:0px;
	bottom:0px;
	margin: auto;
	left: 0px;
	right: 0px;
}
.links{
	width:2%;
	height:100%;
	float:right;
	min-width:50px;
}
.links li a{
	color: black;
	text-decoration: none;
}

.links li a:hover{
	text-decoration: underline;
}
.links ul
{ 
	position: absolute;
	list-style-type: none;
	padding: 0;
	margin: auto;
	top: 0;
	bottom:0;
	height: 18px;
}
 li
{
	display:inline-block;
	vertical-align: middle;
}
.apps{
	width:2%;
	height:100%;
	float:right;
	min-width:30px;
}
.apps ul
{ 
	position: absolute;
	list-style-type: none;
	padding: 0;
	margin: auto;
	top: 0;
	bottom:0;
	height: 22px;
}
.alert{
	width:2%;
	height:100%;
	float:right;
	min-width:25px;

}
.alert ul{
	position: absolute;
	list-style-type: none;
	border-radius: 50%;
	background-color: #737373;
	padding: 0;
	margin: auto;
	top: 0;
	bottom:0;
	height:22px;
	width: 22px;
}
.alert ul img
{
	height: 14px;
	width: 14px;
	padding-top: 2px;
	margin-left: 4px;
	display:block;
}
.user{
	width:2%;
	height:100%;
	float:right;
	min-width:50px;
	margin-right: 5px;
}
.user ul{
	position: absolute;
	list-style-type: none;
	border-radius: 50%;
	overflow:hidden;
	padding: 0;
	margin: auto;
	top: 0;
	bottom:0;
	height:32px;
	width: 32px;

}











