body
{
	margin: 0;
	font-family: arial,sans-serif;
}
.header
{
	width:100%;
	min-width: 950px;
	top :0;
	position: relative;
	height: 59px;
	background-color: #F1F1F1;
	border-bottom:1px solid #E5E5E5;
}
.wrapper{
	width:100%;
	min-width: 950px;
	
}
.logo{
	width:5.5%;
	height:100%;
	min-width:96px;
	float: left;
	margin-left: 10px;
}
#logo{
	height:34px;
	position: absolute;
	top:0px;
	bottom:0px;
	margin: auto;
}
.search{
	width:31%;
	height:100%;
	float:left;
	min-width:592px;
	overflow: hidden;
}
#searchbox{
	height:34px;
	position: absolute;
	top:0px;
	bottom:0px;
	margin: auto;
	width: 592px;
}
.mag_button{
	width:2%;
	height:100%;
	float:left;
	min-width:38px;
}
.outer{
	height:40px;
	position: absolute;
	top:0px;
	bottom:0px;
	margin: auto;
	width:40px;
	background-color: #4285F4;
	border-radius:2px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	border: none;
	float:left;
}
.outer:hover{
	background-color: #2962FF;
}
#mag{
	position: absolute;
	top:0px;
	bottom:0px;
	margin: auto;
	left: 0px;
	right: 0px;
}
.links{
	width:2%;
	height:100%;
	float:right;
	min-width:50px;
}
.links li a{
	color: #7B889D;
	font-size: 14px;
	text-decoration: none;
}
.links ul
{ 
	position: absolute;
	list-style-type: none;
	padding: 0;
	margin: auto;
	top: 0;
	bottom:0;
	height: 18px;
}
 li
{
	display:inline-block;
	vertical-align: middle;
}
.apps{
	width:2%;
	height:100%;
	float:right;
	min-width:30px;
}
.apps ul
{ 
	position: absolute;
	list-style-type: none;
	padding: 0;
	margin: auto;
	top: 0;
	bottom:0;
	height: 22px;
}
.alert ul:hover{
	background-color: black;
}
.alert{
	width:2%;
	height:100%;
	float:right;
	min-width:28px;
}
.alert ul{
	position: absolute;
	list-style-type: none;
	border-radius: 50%;
	background-color: #737373;
	padding: 0;
	margin: auto;
	top: 0;
	bottom:0;
	height:22px;
	width: 22px;
}
.alert ul img
{
	height: 14px;
	width: 14px;
	padding-top: 2px;
	margin-left: 4px;
	display:block;
}
.user{
	width:2%;
	height:100%;
	float:right;
	min-width:50px;
	margin-right: 5px;
}
.user ul{
	position: absolute;
	list-style-type: none;
	border-radius: 50%;
	overflow:hidden;
	padding: 0;
	margin: auto;
	top: 0;
	bottom:0;
	height:32px;
	width: 32px;
}

.options{
	width:100%;
	min-width: 950px;
	height: 59px;
	border-bottom:1px solid #E5E5E5;
}
.search_type{
	float: left;
	height:100%;
	width: 34.2%;
	min-width: 657px;
}
.search_type ul{
	list-style-type: none;
	margin-left: 128px;
	padding: 0;
}
.search_type li a{
	color: #7B889D;
	text-decoration: none;
	font-size: 13px;
	margin-right: 20px;
}
.search_type li a:hover{
	color: black;
}
#all{
	color:#4285F4;
	font-size:13px;
	font-weight: bold;
}
.buttons{
	height:100%;
	width: 10%;
	float: right;
	position: relative;
	min-width: 195px;
}
.fix{
	height: 100%;
	width: 22%;
	float: left;
	position: relative;
}
.fix2{
	height: 100%;
	width: 45%;
	float: left;
	position: relative;
	margin-left: 15px;
}
#profile{
	background-color:#E4E4E4;
	border: 1px solid #CCC;
	border-radius: 2px 0 0 2px;
	box-shadow: inset 0 1px 2px
		rgba(0,0,0,0.1);
	height: 29px;
	width: 44px;
	margin-right: -4px;
	background-image: url("images/person.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px 18px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}


#globe{
	background-color:#F2F2F2;
	border: 1px solid #CCC;
	border-radius: 0 2px 2px 0;
	margin-left: 0;
	height: 29px;
	width: 44px;
	background-image: url("images/globe.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px 18px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

#globe:hover{
	box-shadow:  1px 1px 1px 1px
		rgba(0,0,0,0.1);
}
#gear{
	background-color:#F2F2F2;
	border: 1px solid #CCC;
	border-radius: 2px 2px 2px 2px;
	height: 29px;
	width: 72px;
	background-image: url("images/gear.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px 18px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}
#gear:hover{
	box-shadow:  1px 1px 1px 1px
		rgba(0,0,0,0.1);
}
.results{
	width:65.6%;
	min-width: 1250px;
	height:1320px;
	border:1px solid black;
}

.left_area{
	width:42.2%;
	margin-left: 125px;
	float: left;
	border:1px solid red;
	padding-right: 8px;
	padding-left: 8px;

}
.right_area{
	border:1px solid blue;
	float: left;
	width: 45%;
	height: 965px;

}

.result_num{
	width: 100%;
	border: 1px solid blue;
	margin-bottom: 15px;

}

.result_num p{
	color: #7B889D;
	font-size: 13px;

}
.text{
	width: 100%;
	border: 1px solid green;
	margin-bottom: 15px;
}

#blue{
	color: #1A0DAB;
	text-decoration: none;
	font-size: 18px;
}

.text p{
	margin-top: 0;
	margin-bottom: 0;
	color:#6A6A6A;
	font-size: 13px;
}
#green{
	color:#006621;
	font-size: 14px;
}



#green a{
	color: #7B889D;
	font-size: 14px;
	text-decoration: none;
	margin-left:25px;

}

.images{
	height: 178px;
	width: 100%;
	border: 1px solid yellow;

}









